@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
.center-text {
    text-align: center;
}

.section {
    margin-bottom: 40px;
}

/* makes sure the video centers nicely */
iframe {
    display: block;
    margin: 20px auto;
}
.section p {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.6;
}
h1 {
    text-align: center;
}
body {
    background-color: #c2cddb) !important;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #2f2c2c;
}
}
h1, h2, h3 {
    color: #111111;
}


